<div class="row">
    <div class="col-2">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-5">
        <button class="btn btn-success mx-1" *ngFor="let cityName of cityList">{{cityName}}</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                {{emp.name}} - {{emp.city}}
            </option>
        </select>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Emp ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeArray; index as i" >
                    <td>{{i+1}}</td>
                    <td>{{employee.empId}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.contactNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>