<div class="row">
    <div class="col-3">
        @if(div1Visible == true){
            <div class="bg-success p-3">
                Div 1
            </div>
        }
    </div>
    <div class="col-3">
        @if (isChecked == true) {
            <div class="bg-primary p-3">
                Checkbox is Checked
            </div>
        }
        @else {
            <div class="bg-danger p-3">
                Checkbox is unChecked
            </div>
        }
    </div>
    <div class="col-3">
        @if (dayName == 'mon') {
            <span>Monday</span>
        } @else if (dayName == 'tue') {
            <span>Tuesday</span>
        }
        @else if (dayName == 'wed') {
            <span>Wednesday</span>
        }
        @else if (dayName == 'tue') {
            <span>Tuesday</span>
        }@else {
            <span>Enter Valid Day Name</span>
        }
        
    </div>
</div>

<div class="row pt-4">
    <div class="col-3">
        <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
        <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="dayName" placeholder="Enter day name starting">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <select>
            @for (item of cityList; track $index) {
                <option >{{$index+1}} - {{item}}</option>
            }
        </select>
    </div>
</div>