<!-- <h1>Angular 19</h1> -->

<!-- <app-data-binding></app-data-binding> -->


<!-- <table style="width: 100%;">
    <tr>
        <td>
            <app-admin></app-admin>
        </td>
        <td>
            <app-user></app-user>
        </td>
    </tr>
</table> -->

<!-- <app-ng-if></app-ng-if> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-ng-style></app-ng-style> -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashBoard">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dataBinding">DataBinding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="controlStatement">Control-flow</a>
          </li>
        
          <!-- Dropdown Menu -->
          <li class="nav-item">
            <select class="form-select" (change)="onSelectionChange()"  [(ngModel)]="selectedPath" >
              <option value="">Select Directive</option>
              <option value="ng-class">Ng-Class</option>
              <option value="ng-style">Ng-Style</option>
              <option value="ng-if">Ng-If</option>
              <option value="ng-for">Ng-For</option>
            </select>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="signal">Signal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user">User</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="td-form">TD-Form</a>
          </li> -->
          <li class="nav-item">
            <select class="form-select" (change)="onSelectionForm()" [(ngModel)]="selectedForm">
              <option value="">Select Form</option>
              <option value="td-form">Templete-Driven-Form</option>
              <option value="reactive-form">Reactive-Form</option>
            </select>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>

  
  

  <router-outlet></router-outlet>